html, body {
    height: 100%; /* Asegura que el body ocupe toda la altura disponible */
    margin: 0;
    padding: 0;
}

body {
    margin: 0; /*Que no haya margin y padding que da el navegador default para que nosotros lo manipulemos más adelante*/
    padding: 0;
    font-size: 13 px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex; /* Usamos flexbox para organizar los elementos */
    flex-direction: column; 
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%; /*Para que el header ocupe todo el ancho de la pantalla*/
    height: 60px;
}

/*Busca una etiqueta nav que esté dentro de la etiqueta header*/
header nav {
    display: flex;
    justify-content: flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    list-style: none; /* Para quitar los puntos de la lista */
    justify-content: center;
    align-items: center;
}

nav .nav-right-section a {
    margin-right: 10px;
    color: #000000;
}

nav .nav-right-section .menu-icon{
    background-image: url("https://static.thenounproject.com/png/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 10px;
}

main {
    flex-grow: 1;  /* Hace que el main ocupe el espacio disponible, empujando el footer hacia abajo */
    margin-top: 150px;
    text-align: center;
}

main .main-logo{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;

    /* La imagen ya tiene las dimensiones necesarias, pero si no fuera así, este estilo le da el tamaño adecuado 
    img{
        height: 92px;
        width: 272px;
    } */
}

main .main-input {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container {
    width: 525px;
    border-radius: 100px;
    border: 1px solid #dfe1e5;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input {
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

.main-input-container:hover { /* Efecto hover */
    box-shadow: 0 1px 6px 0 #20212447; /* Sombra más oscura */
    border-color: #dfe1e500; /* Borde más oscuro */
}

main .main-input .search-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Vector_search_icon.svg/945px-Vector_search_icon.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
}

main .main-input .micro-icon {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/716px-Google_mic.svg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

main .main-buttons {
    width: 530px;
    margin: 0 auto;
}

main .main-buttons div {
    display: inline-block;
}

main .main-buttons button {
    height: 36px;
    background-color: #f2f2f2;
    border: 0;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 15px;
}

main .main-buttons button:hover {
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
    background-color: #f8f8f8;
    cursor: pointer;
}

footer {
    background-color: #f2f2f2; /* Fondo del footer */
    text-align: center; /* Centra el texto dentro del footer */
}

footer .pais {
    padding: 15px 30px;
    border-bottom: 1px solid #dfe1e5;
    color: #000000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

.ancla {
    padding: 15px;
    color: #000000;
}

  footer .abajo {
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


